<% const links = get_config_from_obj(widget, 'links'); %>
<% if (true) { %>
<div class="card widget">
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">
            <%= __('widget.links') %>
        </h3>
        <ul class="menu-list">
        <% for (let i in links) { %>
            <li>
                <a class="level is-mobile" href="<%- links[i] %>" target="_blank">
                    <span class="level-left">
                        <span class="level-item"><%= i %></span>
                    </span>
                    <span class="level-right">
                        <span class="level-item tag"><%- get_domain(links[i]) %></span>
                    </span>
                </a>
            </li>
        <% } %>
        </ul>
        </div>
    </div>
    <div align="center">
        <!-- weather -->

    </div>
    <div>
    <h4 align="center"> &#10084;星爵的古董磁带专辑&#10084; </h4>
    <div class="aplayer" data-id="2251151354" data-server="netease" data-type="playlist" data-mode="single"></div>
    </div>
    <div align="center" bacground-color="#ebeef200">
    </div>
    
</div>
<% } %>
